.getData{
    border: 1px solid;
    padding: 10px;
    box-shadow: 10px 20px pink;
    width: 400px;
}

.table, td, th{
    border-collapse: separate;
    border: 1px solid black;
}

.negative{
    color: red;
}   